/* Navbar.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 10px 0;
    display: block;
}

.navbar-links.active {
    max-height: 300px;
    /* Adjust as needed */
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
    }

    .navbar-toggle {
        display: block;
    }
}